@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-accent: #14B8A6;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}